What is the most used type of card on avg?

How many players using x number of spells win on avg?

How many players using x number of towers, x number of spawners win

What rarity has the highest wr? Percentage of deck rarity in higher trophies

Need to go through each deck in data_ord and put in names/elixir cost for each id, replace maybe

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

data_games = pd.read_csv(".\data_ord.csv")
data_cards = pd.read_csv(".\cardlist.csv")

print(data_games.head())
print(data_cards.head())

   Unnamed: 0  p1card1  p1card2  p1card3  p1card4  p1card5  p1card6  p1card7  \
0           0        8       34       37       52       69       88       92
1           1        8       34       37       52       69       88       92
2           2        8       34       37       52       69       88       92
3           3        8       34       37       52       69       88       92
4           4       25       31       59       68       77       98      101

   p1card8  p2card1  p2card2  p2card3  p2card4  p2card5  p2card6  p2card7  \
0       97       11       12       13       58       77       86       87
1       97       11       37       53       83       88       92       97
2       97       19       22       25       32       54       76       87
3       97       28       38       43       46       50       81      102
4      105       23       34       39       73       85       94       98

   p2card8  p1trophies  p2trophies  outcome
0       98        7578        7597        1
1      102        7548        7551        1
2       98        7518        7523        1
3      103        7485        7523        1
4       99        7126        7114        1
   Unnamed: 0  id       card  cost  rarity  type isFlying  target  \
0           0   0     Knight   3.0  common  unit    False  ground
1           1   1    Archers   3.0  common  unit    False     all
2           2   2    Goblins   2.0  common  unit    False  ground
3           3   3      Giant   5.0    rare  unit    False  towers
4           4   4  P.E.K.K.A   7.0    epic  unit    False  ground

  troop_spawned
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN

In [6]:
named_deck = pd.DataFrame(data_games)

# print(named_deck)
named_deck.drop('Unnamed: 0', axis=1, inplace=True)
named_deck.head()

barb_deck = named_deck[named_deck['p1card1'] == 8]
barb_deck['p1card1'] = data_cards.loc[8]['cost']
# print(barb_deck)

for card in range(0, len(data_cards)):
    # named_deck[named_deck['p1card1'] == card]
    named_deck[named_deck['p1card1'] == card]['p1card1'] = data_cards.loc[card]['cost']
    # deck

barb_deck
# named_deck

C:\Users\Thien-An\AppData\Local\Temp\ipykernel_30524\3332757370.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  barb_deck['p1card1'] = data_cards.loc[8]['cost']
C:\Users\Thien-An\AppData\Local\Temp\ipykernel_30524\3332757370.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  named_deck[named_deck['p1card1'] == card]['p1card1'] = data_cards.loc[card]['cost']

,p1card1,p1card2,p1card3,p1card4,p1card5,p1card6,p1card7,p1card8,p2card1,p2card2,p2card3,p2card4,p2card5,p2card6,p2card7,p2card8,p1trophies,p2trophies,outcome
0,5.0,34,37,52,69,88,92,97,11,12,13,58,77,86,87,98,7578,7597,1
1,5.0,34,37,52,69,88,92,97,11,37,53,83,88,92,97,102,7548,7551,1
2,5.0,34,37,52,69,88,92,97,19,22,25,32,54,76,87,98,7518,7523,1
3,5.0,34,37,52,69,88,92,97,28,38,43,46,50,81,102,103,7485,7523,1
101,5.0,34,37,52,69,88,92,97,25,29,32,39,57,83,88,98,6848,6855,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715161,5.0,15,20,68,75,97,98,99,0,6,12,17,43,77,89,95,6405,5475,2
715962,5.0,9,10,26,48,63,87,95,16,17,27,45,51,77,96,98,6005,5983,2
715963,5.0,9,10,26,48,63,87,95,12,17,21,24,43,45,89,98,6037,6008,2
715964,5.0,9,10,26,48,63,87,95,40,47,52,57,59,85,87,99,6067,6066,2
718773,5.0,29,32,52,57,70,85,88,21,39,41,56,64,67,85,88,5990,6369,1