Brainstorming: (yash stuff)

on average how many players using 2 or more flying type cards win? what about 3, 4, 5?

on average how many players using log win? 

which cards do the highest ranking ie most trophy having players use? on avg

given a deck can we guess the win rate? ie classify whether a deck got a win or not? 

Which cards cause the most loss rate? 

most popular card? 

least popular card? 

exilir cost versus win rate scatter plot.

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

data_games = pd.read_csv("/Users/yashjoon/Desktop/320_TEMP/320_FINAL/cmsc320-final-project/data_ord.csv")

data_card = pd.read_csv("/Users/yashjoon/Desktop/320_TEMP/320_FINAL/cmsc320-final-project/cardlist.csv")

data_card.head()

,Unnamed: 0,id,card,cost,rarity,type,isFlying,target,troop_spawned
0,0,0,Knight,3.0,common,unit,False,ground,NaN
1,1,1,Archers,3.0,common,unit,False,all,NaN
2,2,2,Goblins,2.0,common,unit,False,ground,NaN
3,3,3,Giant,5.0,rare,unit,False,towers,NaN
4,4,4,P.E.K.K.A,7.0,epic,unit,False,ground,NaN

Clean up data table/add more info

In [12]:
data_games["total_elixir_cost"] = np.NaN

data_games.head()

,Unnamed: 0,p1card1,p1card2,p1card3,p1card4,p1card5,p1card6,p1card7,p1card8,p2card1,...,p2card3,p2card4,p2card5,p2card6,p2card7,p2card8,p1trophies,p2trophies,outcome,total_elixir_cost
0,0,8,34,37,52,69,88,92,97,11,...,13,58,77,86,87,98,7578,7597,1,NaN
1,1,8,34,37,52,69,88,92,97,11,...,53,83,88,92,97,102,7548,7551,1,NaN
2,2,8,34,37,52,69,88,92,97,19,...,25,32,54,76,87,98,7518,7523,1,NaN
3,3,8,34,37,52,69,88,92,97,28,...,43,46,50,81,102,103,7485,7523,1,NaN
4,4,25,31,59,68,77,98,101,105,23,...,39,73,85,94,98,99,7126,7114,1,NaN